<!DOCTYPE html>
<html lang="en">

<!-- Replace with ejs -->
<%- include('layouts/header'); -%>

<body>
    <!-- Navigation-->
    <!-- Replace with ejs -->
    <%- include('layouts/nav'); -%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/g2-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>G2 License</h1>
                        <span class="subheading">This is G2 License Page.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <hr/>
    <main>
        <form action="/g2/addData" method="POST">
            <div class="fillup-form">
                <div class="personal-info">
                    <div class="item-1">
                        <div class="input-group">
                            <input type="text" id="fName" name="fName" required class="input">
                            <label for="first-name" class="input-label">First Name</label>
                        </div>
                    </div>
                    <div class="item-1">
                        <div class="input-group">
                            <input type="text" id="lName" name="lName" required class="input">
                            <label for="last-name" class="input-label">Last Name</label>
                        </div>
                    </div>
                    <div class="item-1">
                        <div class="input-group">
                            <input type="number" id="sin" name="sin" required class="input">
                            <label for="sin" class="input-label">SIN</label>
                        </div>
                    </div>
                    <div class="item-1">
                        <div class="input-group">
                            <input type="text" id="lNumber" name="lNumber" required class="input">
                            <label for="License-number" class="input-label">License-Number</label>
                        </div>
                    </div>
                    <div class="item-1">
                        <div class="input-group">
                            <input type="number" id="age" name="age" required class="input">
                            <label for="age" class="input-label" min="18" max="99">Age</label>
                        </div>
                    </div>
                    <div class="item-1">
                        <div class="input-group">
                            <input type="text" id="dob" name="dob" required class="input">
                            <label for="dob" class="input-label">Date Of Birth</label>
                        </div>
                    </div>
                    
                </div>
                <div class="car-info">
                    <div class="item-2">
                        <div class="input-group">
                            <input type="text" id="make" name="make" required class="input">
                            <label for="make" class="input-label">Make</label>
                        </div>
                    </div>
                    <div class="item-2">
                        <div class="input-group">
                            <input type="text" id="model" name="model" required class="input">
                            <label for="model" class="input-label">Model</label>
                        </div>
                    </div>
                    <div class="item-2">
                        <div class="input-group">
                            <input type="text" id="year" name="year" required class="input">
                            <label for="year" class="input-label">Year</label>
                        </div>
                    </div>
                    <div class="item-2">
                        <div class="input-group">
                            <input type="text" id="plateNo" name="plateNo" required class="input">
                            <label for="plateNo" class="input-label">Plate-Number</label>
                        </div>          
                    </div>
                </div>
            </div>
            <div class="f-submit">
                <button type="submit" id="submit" class="submit"></button>
            </div>
        </form>
    </main>
    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <!-- Replace with ejs -->

    <!-- Bootstrap core JS-->
    <%- include('layouts/scripts'); -%>
    <!-- Replace with ejs -->
</body>
</body>

</html>